$font-family-polaris-bold: 'Polaris Bold', sans-serif;
$font-family-polaris-book: 'Polaris Book', sans-serif;
$font-family-polaris-condensed-bold: 'Polaris Condensed Bold', sans-serif;

$page-content-max-width: 1600px;

$list-columns-4: calc(100% / 4);
$list-columns-3: calc(100% / 3);
$list-columns-2: calc(100% / 2);
$list-columns-1: 100%;
