.Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.Products__Message {
  padding: 20px 20px 0 20px;
  font-size: 0.875rem;
  color: #222222;
  font-family: "Polaris Book", sans-serif; }
