@import '../../assets/scss/all';

.Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Products__Message {
  padding: 20px 20px 0 20px;
  font-size: rem(14px);
  color: $color-black;
  font-family: $font-family-polaris-book;
}
