.BagPage {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  margin: auto; }
  @media only screen and (max-width: 1024px) {
    .BagPage {
      flex-direction: column; } }

.BagPage__Content {
  width: calc(100% - 328px); }
  @media only screen and (max-width: 1024px) {
    .BagPage__Content {
      width: 100%; } }

.BagPage__Sidebar {
  width: 328px;
  box-sizing: border-box;
  margin-left: 30px; }
  @media only screen and (max-width: 1024px) {
    .BagPage__Sidebar {
      width: 100%;
      margin-top: 30px;
      margin-left: 0px; } }
