@import '../../assets/scss/all';

.Product {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: $color-white;
  width: $list-columns-4;
  max-width: $list-columns-4;
  -ms-flex-preferred-size: $list-columns-4;
  flex-basis: $list-columns-4;
  margin-top: 3px;
  border: 3px solid $color-grey;
  box-sizing: border-box;

  @media only screen and (max-width: 1300px) {
    width: $list-columns-3;
    max-width: $list-columns-3;
    -ms-flex-preferred-size: $list-columns-3;
    flex-basis: $list-columns-3;
  }

  @media only screen and (max-width: 700px) {
    width: $list-columns-2;
    max-width: $list-columns-2;
    -ms-flex-preferred-size: $list-columns-2;
    flex-basis: $list-columns-2;
  }

  @media only screen and (max-width: 610px) {
    width: $list-columns-1;
    max-width: $list-columns-1;
    -ms-flex-preferred-size: $list-columns-1;
    flex-basis: $list-columns-1;
  }
}

.Product__Action {
  margin: 0 45px 30px 45px;
}

.Product__Content {
  height: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.Product__Image {
  align-self: center;
  width: 100%;
  margin-bottom: 30px;
}

.Product__Brand {
  text-transform: uppercase;
  font-size: rem(13px);
  font-family: $font-family-polaris-condensed-bold;
  color: $color-black;
  line-height: rem(19px);
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 8px;
}

.Product__Name {
  height: 40px;
  font-family: $font-family-polaris-book;
  color: $color-black;
  font-weight: 300;
  font-size: rem(13px);
  line-height: rem(19px);
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.Product__Price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: rem(13px);
  line-height: rem(19px);
  font-family: $font-family-polaris-book;

  @media only screen and (max-width: 1140px) {
    font-size: rem(11px);
  }
}

.Product__PriceRegular {
  color: $color-black;
}

.Product__PriceOriginal {
  text-decoration: line-through;
  color: $color-light-grey;
}

.Product__PriceDiscounted {
  margin-left: 12px;
  margin-right: 12px;
  color: $color-red;
}

.Product__PricePercentage {
  border-left: 1px solid $color-black;
  padding-left: 12px;
  color: $color-black;
}
