.Product {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #ffffff;
  width: calc(100% / 4);
  max-width: calc(100% / 4);
  -ms-flex-preferred-size: calc(100% / 4);
  flex-basis: calc(100% / 4);
  margin-top: 3px;
  border: 3px solid #f8f8f8;
  box-sizing: border-box; }
  @media only screen and (max-width: 1300px) {
    .Product {
      width: calc(100% / 3);
      max-width: calc(100% / 3);
      -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3); } }
  @media only screen and (max-width: 700px) {
    .Product {
      width: calc(100% / 2);
      max-width: calc(100% / 2);
      -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2); } }
  @media only screen and (max-width: 610px) {
    .Product {
      width: 100%;
      max-width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.Product__Action {
  margin: 0 45px 30px 45px; }

.Product__Content {
  height: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px; }

.Product__Image {
  align-self: center;
  width: 100%;
  margin-bottom: 30px; }

.Product__Brand {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: "Polaris Condensed Bold", sans-serif;
  color: #222222;
  line-height: 1.1875rem;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 8px; }

.Product__Name {
  height: 40px;
  font-family: "Polaris Book", sans-serif;
  color: #222222;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden; }

.Product__Price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  font-family: "Polaris Book", sans-serif; }
  @media only screen and (max-width: 1140px) {
    .Product__Price {
      font-size: 0.6875rem; } }

.Product__PriceRegular {
  color: #222222; }

.Product__PriceOriginal {
  text-decoration: line-through;
  color: #aaaaaa; }

.Product__PriceDiscounted {
  margin-left: 12px;
  margin-right: 12px;
  color: #f8636b; }

.Product__PricePercentage {
  border-left: 1px solid #222222;
  padding-left: 12px;
  color: #222222; }
