@import '../../../../assets/scss/all';

.BagSummary {
  background-color: $color-white;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;

  @media only screen and (max-width : 1024px) {
    position: relative;
  }
}

.BagSummary__Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_Right {
    align-items: flex-end;
  }
}

.BagSummary__Title {
  text-transform: uppercase;
  font-size: rem(24px);
  color: $color-black;
  line-height: rem(36px);
  letter-spacing: 2.1px;
  font-family: $font-family-polaris-condensed-bold;
}

.BagSummary__Small {
  font-size: rem(13px);
  line-height: rem(19px);
  letter-spacing: 0.8px;
  color: $color-light-grey;
  font-family: $font-family-polaris-book;
}

.BagSummary__Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 35px;
}

.BagSummary__Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BagSummary__Text {
  font-size: rem(16px);
  color: $color-black;
  line-height: rem(22px);
  font-family: $font-family-polaris-book;

  &Bold {
    font-family: $font-family-polaris-bold;
  }
}
