.BagSummary {
  background-color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0px; }
  @media only screen and (max-width: 1024px) {
    .BagSummary {
      position: relative; } }

.BagSummary__Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .BagSummary__Column_Right {
    align-items: flex-end; }

.BagSummary__Title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #222222;
  line-height: 2.25rem;
  letter-spacing: 2.1px;
  font-family: "Polaris Condensed Bold", sans-serif; }

.BagSummary__Small {
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  letter-spacing: 0.8px;
  color: #aaaaaa;
  font-family: "Polaris Book", sans-serif; }

.BagSummary__Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 35px; }

.BagSummary__Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.BagSummary__Text {
  font-size: 1rem;
  color: #222222;
  line-height: 1.375rem;
  font-family: "Polaris Book", sans-serif; }
  .BagSummary__TextBold {
    font-family: "Polaris Bold", sans-serif; }
