@import '../../assets/scss/all';

.RoundedButton {
  border-radius: 40px;
  border: 1px solid $color-border-grey;
  width: 100%;
  justify-content: center;
  padding: 8px 0px;
  color: $color-black;
  font-family: $font-family-polaris-bold;
  letter-spacing: 0.1px;
  line-height: rem(19px);
  transition: all 0.5s;
  background-color: $color-white;

  &:hover {
    box-shadow: 1px 0px 1px rgba(34, 34, 34, 0.5);
  }
}
