.RoundedButton {
  border-radius: 40px;
  border: 1px solid #dddddd;
  width: 100%;
  justify-content: center;
  padding: 8px 0px;
  color: #222222;
  font-family: "Polaris Bold", sans-serif;
  letter-spacing: 0.1px;
  line-height: 1.1875rem;
  transition: all 0.5s;
  background-color: #ffffff; }
  .RoundedButton:hover {
    box-shadow: 1px 0px 1px rgba(34, 34, 34, 0.5); }
