.Header {
  font-family: "Polaris Bold", sans-serif;
  background-color: #ffffff;
  color: #222222;
  font-size: 0.78125rem;
  line-height: 1.21875rem;
  box-sizing: border-box;
  padding: 0px 19px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px; }
