@import '../../assets/scss/all';

.Header {
  font-family: $font-family-polaris-bold;
  background-color: $color-white;
  color: $color-black;
  font-size: rem(12.5px);
  line-height: rem(19.5px);
  box-sizing: border-box;
  padding: 0px 19px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}
