@import './assets/scss/all';

body {
  background-color: $color-grey;
  margin: 50px;
  padding: 0;
  font-family: $font-family-polaris-book;
}

h1, h2 {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}
