@font-face {
  font-family: 'Polaris Bold';
  src: url(polaris-bold-webfont.eot);
  src: url(polaris-bold-webfont.eot?#iefix) format('embedded-opentype'),
       url(polaris-bold-webfont.woff) format('woff'),
       url(polaris-bold-webfont.ttf)  format('truetype'),
       url(polaris-bold-webfont.svg#svgFontName) format('svg');
}

@font-face {
  font-family: 'Polaris Book';
  src: url(polaris-book-webfont.eot);
  src: url(polaris-book-webfont.eot?#iefix) format('embedded-opentype'),
       url(polaris-book-webfont.woff) format('woff'),
       url(polaris-book-webfont.ttf)  format('truetype'),
       url(polaris-book-webfont.svg#svgFontName) format('svg');
}

@font-face {
  font-family: 'Polaris Condensed Bold';
  src: url(polariscondensed-bold-webfont.eot);
  src: url(polariscondensed-bold-webfont.eot?#iefix) format('embedded-opentype'),
       url(polariscondensed-bold-webfont.woff) format('woff'),
       url(polariscondensed-bold-webfont.ttf)  format('truetype'),
       url(polariscondensed-bold-webfont.svg#svgFontName) format('svg');
}
